!!!
.sidebar-header.clearfix
  .sidebar-header__user
    %a user-name
  .sidebar-header__menu
    %ul.sidebar-header__menu-icons
      %li
        = fa_icon "cog"
      %li
        = fa_icon "edit"
.sidebar-contents
  /仮置き
  .sidebar-contents__groups
    %ul.sidebar-contents__groups-list
      %li.ul.sidebar-contents__groups-list_item
