!!!
%head
  %body
    /仮置き
    .notice-header
      = render :partial => "parts/notice-header"
    .wrapper
      .sidebar
        = render :partial => "sidebar"
      .main
        .main__wrapperForHeader
          .header
            .header__left
              %p.current-group group1
              %p.members Members: yu-smc
            .header__right
              %a#button.edit Edit
