!!!
.form-items
  = form_for message do |f|
    .form-items__input
      %input.form-items__input-inner{for: "upload-icon"}
        %label.form-items__input-icon
        =fa_icon "image"
        / = f.file_field :image, id: "upload-icon"
    =f.submit class: 'form-items__button'



