!!!
.sidebar__wrapperForHeader
  .header
    .header__user
      = current_user.name
    .header__menu
      %ul.header__menu-icons
        %li
          = link_to edit_user_path(current_user) do
            = fa_icon "cog"
        %li
          = fa_icon "edit"
.sidebar-contents
  /仮置き
  .sidebar-contents__groups
    %a.groups
      %p.groups__name group1
      %p.groups__message ここに最新メッセージを表示
    %a.groups
      %p.groups__name group2
      %p.groups__message ここに最新メッセージを表示
    %a.groups
      %p.groups__name group3
      %p.groups__message ここに最新メッセージを表示
