.notification {
  .notice {
    background-color: $_color-lightBlue;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: $_color-alertOrange;
    color: white;
    text-align: center;
  }
}
