@charset "utf-8";
.sidebar {
  &__wrapperForHeader {
    display: table;
    position: fixed;
    width: 300px;
    height: 100px;
    .header {
      display: table-cell;
      background-color: #253141;
      vertical-align: middle;
      padding: 0 20px;
      &__user{
        display:inline-block;
        line-height: 21px;
        width: 80%;
        float:left;
        font-weight: bold;
        & a{
        color: white;
        }
      }
      &__menu{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        width: 20%;
        & li{
          float: right;
          color: white;
          .fa.fa-edit {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

