@charset "utf-8";

@mixin button($bg-color:$_color-lightBlue, $border:none, $font-size:16px, $color:#FFFFFF) {
  background-color: $bg-color;
  border: $border;
  font-size: $font-size;
  color: $color;
}
